#rules{
    background: transparent;
    color: white;
    border: solid white 1px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 5px;
    display: flex;
    justify-self: flex-end;
    align-items: flex-end;
    cursor: pointer;
    letter-spacing: 2px;
}